
<div class="container-fluid", style="background-color: #00FF99">
  <div class="container">
    <h1 class="navbar header">
      <%= link_to 'こんぶっくす', root_path %>
    </h1>


        <h5 class="nav navbar-nav navbar-right">

          <%= link_to "マイページ", user_path(current_user),class:"glyphicon glyphicon-user"%>

        <%= link_to "ログイン(管理者)" ,new_admin_session_path,class:"glyphicon glyphicon-log-in sign_in"  %>

        <%= link_to "ログアウト" ,destroy_user_session_path, method: :delete,class:"glyphicon glyphicon-log-out" %>
        </h5>
  </div>
</div>
