
<div class="container-fluid", style="background-color: #99CC66">
  <div class="container">
    <div class="navbar header">
          <%= link_to image_tag('logo.jpg'), root_path, class: "navbar-brand" %>
    </div>


        <ul class="nav navbar-nav navbar-right">

          <%= link_to " マイページ ", user_path(current_user),class:"glyphicon glyphicon-user"%>


          <%= link_to " 投稿一覧 ", books_path, class:"glyphicon glyphicon-book Books" %>


        　<%= link_to " ログアウト " ,destroy_user_session_path, method: :delete,class:"glyphicon glyphicon-log-out" %>
        
        </ul>
  </div>
</div>
